@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  @apply text-gray-700;
}
a {
  @apply text-green-900 ;
}
h1 {
  @apply lg:text-6xl text-5xl text-black mb-6 font-black border-b-4 border-b-black;
}
h2 {
  @apply text-3xl mb-3 font-bold;
}
h3 {
  @apply text-2xl mb-3 font-bold;
}
h4 {
  @apply text-xl mb-3 font-bold;
}
h5 {
  @apply font-bold;
}
.btn {
  @apply rounded
}
label {
  @apply mt-2 block;
}
.container {
  @apply mx-auto;
}
.btn {
  @apply border rounded bg-lime-600 hover:bg-lime-800 px-4 py-1 text-lg text-white font-semibold cursor-pointer;
}
.barra-horizontal {
  @apply border-b-2 w-full border-green-800 h-1 my-4
}
.barra-horizontal.mt-0 {
  margin-top: 0;
}
/**
tablas
**/
.table {
    @apply table-auto w-full my-3
}
.table th {
    @apply px-6 py-2 bg-gray-50 font-medium text-gray-400 uppercase border tracking-widest
}
.table td {
    @apply px-4 border
}
/***
body
***/
.contenedor-principal {
  @apply md:flex lg:gap-4 px-4 sm:px-6 lg:px-8 block py-4 justify-around
}
#contenido {
  overflow-x: hidden;
  @apply bg-slate-50 
}
#sidebar {
  @apply bg-slate-200  border rounded border-2 border-slate-300 p-4;
}
#sidebar .btn {
  @apply  bg-slate-400 py-2 block text-center hover:bg-slate-500
}
/***
contenido
***/
.nota {
  @apply font-semibold  text-white p-2 text-center 
}
.nota-roja {
  @apply nota bg-red-500
}
.nota-ambar {
  @apply nota bg-amber-500
}
.nota-verde {
  @apply nota bg-green-500
}
.nav-bar a{
  @apply inline-block px-4 ;
}
.ficha .datos-ficha, .ficha .datos-ficha li {
  @apply inline;
}
.ficha .datos-ficha li::after {
  content: " - ";
}
.ficha .datos-ficha li:last-child::after {
  content: "";
}
.pelicula-descripcion {
  font-size: 1.2rem;
  @apply mb-4
}
@media (min-width: 1024px) {
  .seccion-titulo {
    background-position: center center; 
    background-size: cover; 
    height:650px ;
    color:white;
  }  
  .seccion-titulo h1 { 
    color:white;
    border: none;
  }
  .fondo-titulo{
    padding: 1rem 1rem 2rem; 
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,0.630987429151348) 80%, rgba(2,0,36,0) 100%);
  }
}
@media (max-width: 1023px) {
  .seccion-titulo {
    background-image: none !important;
    height:auto;
    background-color: white;
    color:black;
  }
}
.fondo-titulo{
}
/***
Oruga
***/
.o-car__arrow__icon {
  @apply w-9 h-9 text-4xl bg-lime-600 text-white;
}
.o-radio__check {
  background-image: none
}
[type='checkbox'], [type='radio'] {
  color: #169b63;
}
.o-car__item {
  border-width: 1rem;
}
.o-car__arrow__icon-next {
  right: 0rem;
}
.o-car__arrow__icon-prev {
  left: 0rem;
}
/**
* Grilla
*/
.pre-grilla {
  @apply grid grid-cols-5
}
.grilla {
  @apply grid mb-4 grid-cols-2 gap-4 ;
}
.grilla-enlace {
  @apply  bg-lime-800 relative
}
.grilla-titulo {
  @apply  bottom-0 w-full bg-emerald-700 text-white min-h-42 flex flex-row items-center
}
.grilla-titulo-texto{
  @apply grow text-center font-medium
}
.grilla-nota {
  @apply  text-base py-0
}
/***
Tabs
***/
.tabs {
  @apply my-4
}
.tab-titulo {
  @apply inline-block p-4 font-semibold text-black uppercase bg-gray-50 border border-b-gray-100 border-gray-400 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300 cursor-pointer
}
.tab-titulo.active {
  transform: translateY(3px);
  @apply  text-green-800 bg-gray-100 border-2 font-black
}
.tabs-contenido {
  @apply p-2 bg-gray-100 border-2  border-gray-400
}
/***
Busqueda
***/
#resultado-busqueda {
  @apply border shadow-md px-4 py-2 absolute w-full bg-white -mt-3 rounded-b-lg transition-all duration-500 hidden z-50 h-[50vh] overflow-y-auto
}
#resultado-busqueda.activo {
  @apply block 
}
#resultado-busqueda img {
  @apply w-12
}
.barra-buscar input {
  @apply px-8
}
