@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  @apply text-gray-700;
}
a {
  @apply text-green-900 ;
}
h1 {
  @apply text-4xl mb-3 font-bold;
}
h2 {
  @apply text-3xl mb-3 font-bold;
}
h3 {
  @apply text-2xl mb-3 font-bold;
}
h4 {
  @apply text-xl mb-3 font-bold;
}
h5 {
  @apply font-bold;
}
.btn {
  @apply rounded
}
label {
  @apply mt-2 block;
}
.container {
  @apply mx-auto;
}
.btn {
  @apply border rounded bg-lime-600 hover:bg-lime-800 px-4 py-1 text-lg text-white font-semibold cursor-pointer;
}
.barra-horizontal {
  @apply border-b-2 w-full border-green-800 h-1 my-4
}
.barra-horizontal.mt-0 {
  margin-top: 0;
}
/**
tablas
**/
.table {
    @apply table-auto w-full my-3
}
.table th {
    @apply px-6 py-2 bg-gray-50 font-medium text-gray-400 uppercase border tracking-widest
}
.table td {
    @apply px-4 border
}
/***
body
***/
.contenedor-principal {
  @apply md:flex lg:gap-4 px-4 sm:px-6 lg:px-8 block py-4
}
#contenido {
  overflow-x: hidden;
  @apply bg-slate-50 
}
#sidebar {
  @apply bg-slate-200  border rounded border-2 border-slate-300 p-4;
}
#sidebar .btn {
  @apply  bg-slate-400 py-2 block text-center hover:bg-slate-500
}
/***
contenido
***/
.nota {
  @apply font-semibold bg-indigo-500 text-white p-2 text-center text-2xl
}
.nota-roja {
  @apply  bg-red-500
}
.nota-ambar {
  @apply  bg-amber-500
}
.nota-verde {
  @apply bg-green-500
}
.nav-bar a{
  @apply inline-block px-4 ;
}
.ficha .datos-ficha, .ficha .datos-ficha li {
  @apply inline;
}
.ficha .datos-ficha li::after {
  content: " - ";
}
.ficha .datos-ficha li:last-child::after {
  content: "";
}
.pelicula-descripcion {
  font-size: 1.2rem;
  @apply mb-4
}
.o-car__arrow__icon {
  @apply w-9 h-9 text-4xl bg-lime-600 text-white;
}
/**
* Grilla
*/
.pre-grilla {
  @apply grid grid-cols-5
}
.grilla {
  @apply grid mb-4 grid-cols-2 gap-4 ;
}
.grilla-enlace {
  @apply  bg-lime-800 relative
}
.grilla-titulo {
  @apply  bottom-0 w-full bg-emerald-700 text-white min-h-42 flex flex-row items-center
}
.grilla-nota {
  @apply  p-3  text-white lg:relative absolute top-0 left-0
}
.grilla-titulo-texto{
  @apply grow text-center lg:text-xs
}
